.input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #2c2c2c;
  background: #e5e5e5;
  border-radius: 4px;
  border: none;
  padding: 8px 0 8px 12px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
}

.input_textarea {
  padding: 14px 12px;
  line-height: 20px;
  resize: none;
}

.input_textarea-tags::placeholder {
  font-size: 13px;
  color: #888888;
}

.input_error {
  /* outline: 2px solid #cb1f1f; */
  box-shadow: 0 0 0 2px #cb1f1f;
}
