.service-button {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #262626;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
}

.service-button:hover {
    background-color: #ebebeb;
}

.service-button_isRead {
    background-image: url('../../../assets/isRead-false.svg');
    padding: 8px 8px;
}

.service-button_edit {
    background-image: url('../../../assets/edit.svg');
    padding: 11px 8px 8px 8px;
}

.service-button_first-list {
    background-image: url('../../../assets/firstList-false.svg');
    padding: 8px 11px;
}