.tag {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: black;
  box-sizing: border-box;
  padding: 10px 18px;
  border-radius: 4px;
  border: 2px solid #000000;
}

.tag-label {
  cursor: default;
}

.tag-button {
  background: none;
  cursor: pointer;
}

.tag-button:hover {
  background: #e4e4e4;
}

.tag-button:focus {
  outline: none;
}

.tag_red {
  border: 2px solid #975134;
}

.tag_purple {
  border: 2px solid #624c7d;
}

.tag_olive {
  border: 2px solid #4c7845;
}

.tag_reddish-brown {
  border: 2px solid #975134;
}

.tag_green {
  border: 2px solid #507b0a;
}

.tag_blue {
  border: 2px solid #1a2484;
}

.tag_emerald {
  border: 2px solid #196a6a;
}

.tag_plum {
  border: 2px solid #773665;
}

.tag_teal {
  border: 2px solid #397487;
}

.tag_brown {
  border: 2px solid #976e31;
}

.tag_active-filter {
  color: #f4f4f4;
}

.tag_red_active-filter {
  background-color: #975134;
}

.tag_red_active-filter:hover {
  background-color: #975134;
}

.tag_purple_active-filter {
  background-color: #624c7d;
}

.tag_purple_active-filter:hover {
  background-color: #624c7d;
}

.tag_olive_active-filter {
  background-color: #4c7845;
}

.tag_olive_active-filter:hover {
  background-color: #4c7845;
}

.tag_reddish-brown_active-filter {
  background-color: #975134;
}

.tag_reddish-brown_active-filter:hover {
  background-color: #975134;
}

.tag_green_active-filter {
  background-color: #507b0a;
}

.tag_green_active-filter:hover {
  background-color: #507b0a;
}

.tag_blue_active-filter {
  background-color: #1a2484;
}

.tag_blue_active-filter:hover {
  background-color: #1a2484;
}

.tag_emerald_active-filter {
  background-color: #196a6a;
}

.tag_emerald_active-filter:hover {
  background-color: #196a6a;
}

.tag_plum_active-filter {
  background-color: #773665;
}

.tag_plum_active-filter:hover {
  background-color: #773665;
}

.tag_teal_active-filter {
  background-color: #397487;
}

.tag_teal_active-filter:hover {
  background-color: #397487;
}

.tag_brown_active-filter {
  background-color: #976e31;
}

.tag_brown_active-filter:hover {
  background-color: #976e31;
}

.tag-row__tag {
  margin-right: 16px;
}

.article-card__tag {
  margin: 0 16px 16px 0;
}

.tag-row__tag:last-child {
  margin-right: 20px;
}

.tags-modal__tag {
  margin: 0 0 16px 16px;
}
